---
layout: page
title: Resources and guides
---

<p>To make running a <a href="http://events.codeweek.eu/guide/">Code Week event</a> easier, we've selected some of the best lesson plans, guides and other resources.</p>

<h2>Local resources in your language</h2>

<div id="country-list">
	{% for cat in site.country-list-2014 %}
		<strong>{% if cat == "czech_republic" %}
			<a href="{{ cat }}" title="List of coding resources from Czech Republic">Czech Republic</a>
		{% elsif cat == "isle_of_man" %}
			<a href="{{ cat }}" title="List of coding resources from the Isle of Man">Isle of Man</a>
		{% elsif cat == "united_kingdom" %}
			<a href="{{ cat }}" title="List of coding resources from United Kingdom">United Kingdom</a>
		{% else %}
			<a href="{{ cat }}" title="List of coding resources from {{ cat | capitalize }}">{{ cat | capitalize }}</a>
		{% endif %}</strong>{% unless forloop.last %} - {% endunless %}
	{% endfor %}
</div>

<hr />

<h2>Coding lessons for beginners of all ages</h2>
<ul>
	<li><strong><a href="http://www.codecademy.com/">Codecademy</a></strong>: Learn to code interactively, for free, on the web.</li>
	<li><strong><a href="https://www.codeschool.com">Code School</a></strong>: Code School teaches web technologies in the comfort of your browser with video lessons, coding challenges, and screencasts.</li>
	<li><strong><a href="http://www.codeavengers.com">Code Avengers</a></strong>: Learn to build websites, apps and games with HTML, CSS and JavaScript.</li>
	<li><strong><a href="http://code.org/learn">Code.org Tutorials</a></strong>: Simple tutorials for beginners that can be completed in an hour or less.</li>
	<li><strong><a href="http://csunplugged.org">Computer Science Unplugged</a></strong>: A collection of free learning activities for the classroom or home that teaches Computer Science through engaging games and puzzles that use cards, string, crayons and lots of running around.</li>
	<li><strong><a href="https://webmaker.org/en-US/resources">Webmaker Web Literacy Map</a></strong>: A collection of resources for teaching and learning digital skills and web literacy, including a section on creating for the web.</li>
	<li><strong><a href="http://www.w3schools.com">W3Schools Online Web Tutorials</a></strong>: A collection of tutorials and references for web-related languages.</li>
	<li><strong><a href="http://www.test4u.eu/en/codeweek">TEST4U</a></strong>: A collection of interactive tutorials for HTML, CSS, JavaScript, PHP and MySQL.</li>
</ul>

<h2>Coding for younger beginners</h2>
<ul>
	<li><strong><a href="http://scratch.mit.edu/">Scratch</a></strong>: With Scratch, you can program your own interactive stories, games, and animations — and share your creations with others in the online community. Primarily designed for 8 to 16 year olds, available in a variety of languages, can be used <a href="http://scratch.mit.edu/projects/editor/?tip_bar=getStarted">online</a> or offline with the <a href="http://scratch.mit.edu/scratch2download/">Scratch editor</a> on Mac, Windows and Linux computers. Teachers should visit <a href="http://scratch-ed.org/">ScratchED</a>, an online community where Scratch educators share stories, exchange resources, ask questions, and find people.</li>
	<li><strong><a href="https://www.gethopscotch.com">Hopscotch</a></strong>: iPad app recommended for kids ages 8 and above with simple, intuitive building blocks that can be used to create games, animations and apps in a colorful, interactive environment. Even younger coders can also try the <strong><a href="http://www.daisythedinosaur.com">Daisy the Dinosaur</a></strong> app.</li>
	<li><strong><a href="http://www.scratchjr.org/">ScratchJr</a></strong>: ScratchJr is an introductory programming language that enables young children (ages 5 to 7) to create their own interactive stories and games. ScratchJr was inspired by Scratch, but redesigned the interface and programming language to make them developmentally appropriate for younger children. Currently available as an iPad app, with an Android version scheduled to be released later in 2014, and a web-based version in 2015.</li>
	<li><strong><a href="https://coderdojo.com">CoderDojo</a></strong>: The CoderDojo website features a variety of information for parents, kids and volunteers looking to start their own coding club for children. Part of the website is also a list of <a href="http://kata.coderdojo.com/wiki/Main_Page">resources</a> that can be used to teach a variety of programming languages to different age groups.</li>
	<li><strong><a href="https://www.robomindacademy.com/">RoboMind Academy</a></strong>: By programming a virtual robot, the student is introduced to logic, automation and technology. Available as an online educator-friendly platform that can be used with students aged 8 years or older. A good start is the <a href="https://www.robomindacademy.com//go/navigator/coursedetails?course=HourOfCode">Hour of Code Tutorial</a>.</li>
	<li><strong><a href="https://www.allcancode.com">Run Marco!</a></strong>: an adventure game for kids that teaches the basic of coding. Available as a browser game and an <a href="https://play.google.com/store/apps/details?id=com.allcancode.runmarco">Android app</a>, already translated in 13 European languages (more coming soon).</li>
	<li><strong><a href="http://light-bot.com/hocflash.html">LightBot</a></strong>: A programming puzzle, where you guide your LightBot and light up all the blue squares using programming.</li>
	<li><strong><a href="http://www.kodugamelab.com/">Kodu</a></strong>: Kodu lets kids create games via a simple visual programming language. Kodu can be used to teach creativity, problem solving, storytelling, as well as programming. Available for Windows computers.</li>
</ul>

<h2>Full online courses for advanced learners</h2>
<ul>
	<li><strong><a href="https://www.edx.org/course-list/allschools/computer-science/allcourses">edX</a></strong>: EdX offers interactive online classes and MOOCs from the world’s best universities. Online courses from MITx, HarvardX, BerkeleyX, UTx and many other universities.</li>
	<li><strong><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/">MIT OpenCourseWare</a></strong>: MIT OpenCourseWare (OCW) is a web-based publication of virtually all MIT course content. OCW is open and available to the world and is a permanent MIT activity.</li>
	<li><strong><a href="https://www.coursera.org/courses?orderby=upcoming&cats=cs-programming">Coursera</a></strong>: Coursera is an education platform that partners with top universities and organizations worldwide, to offer courses online for anyone to take, for free.</li>
	<li><strong><a href="https://www.udacity.com/courses#!/all">Udacity</a></strong>: Online education that bridges the gap between academic and real world skills. Taught by industry leaders excited to share their expertise from companies such as Google, Facebook, Cloudera, and MongoDB.</li>
</ul>




