---
layout: page
title: Resources and guides
---

<p>To make running a <a href="http://events.codeweek.eu/guide/">Code Week event</a> easier, we've collected together lesson plans, guides and other resources to help you out.</p>

<h2>Coding lessons for beginners</h2>
<ul>
	<li><a href="http://www.codecademy.com/">Codecademy</a>: Learn to code interactively, for free.</li>
	<li><a href="https://www.codeschool.com">Code School</a>: Code School teaches web technologies in the comfort of your browser with video lessons, coding challenges, and screencasts.</li>
	<li><a href="http://code.org/learn">Code.org Tutorials</a>: Simple tutorials for beginners that can be completed in an hour or less.</li>
</ul>

<h2>Full online course</h2>
<ul>
	<li><a href="https://www.coursera.org/courses?orderby=upcoming&cats=cs-programming">Coursera</a></li>
	<li><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/">MIT OpenSourseWare</a></li>
	<li><a href="https://www.udacity.com/courses#!/all">Udacity</a></li>
</ul>

<hr />

<h2>Local resources</h2>

<div id="country-list">
	{% for cat in site.country-list-2014 %}
		<strong>{% if cat == "czech_republic" %}
			<a href="{{ cat }}" title="List of coding resources from Czech Republic">Czech Republic</a>
		{% elsif cat == "united_kingdom" %}
			<a href="{{ cat }}" title="List of coding resources from United Kingdom">United Kingdom</a>
		{% else %}
			<a href="{{ cat }}" title="List of coding resources from {{ cat | capitalize }}">{{ cat | capitalize }}</a>
		{% endif %}</strong>{% unless forloop.last %} - {% endunless %}
	{% endfor %}
</div>
