@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);

/*
Code Week Blue: #4489ca
*/

body {
  background: #f2f8ff;
  font-family: 'Carrois Gothic', Helvetica, Arial, sans-serif;
  font-size: 100%;
  letter-spacing: 0.5px;
}

.wrap, .inner {
  width: 1020px;
  margin: 0 auto;
}

/* Tidbits */

.button-well {
  padding: 20px 0;
}

.button, a.button,
    a.button:link, a.button:visited {
  display: inline-block;
  background: #4489ca;
  text-decoration: none;
  color: #fff;
  padding: 5px 24px;
  text-shadow: #083e6f 0px 1px 1px;
  box-shadow: #d0d0d0 0px 2px 2px;
  border-top: 2px solid #4489ca;
  border-bottom: 2px solid transparent;
}

a.button:hover {
  background: #4e832f;
  border-top-color: #4e832f;
  text-shadow: #31521e 0px 1px 1px;
}

a.button:active {
  border-top-color: #f2f8ff;
  border-bottom-color: #4e832f;
  padding-top: 7px;
  padding-bottom: 3px;
  box-shadow: none;
}

section {
  font-size: 18px;
  line-height: 28px;
  padding: 10px 0;
  margin: 0;
}
section p {
  padding: 8px 0;
  margin: 0;
}
section h1 {
  font-size: 34px;
  padding: 15px 0;
  text-transform: uppercase;
}

a, a:link, a:visited {
  color: #0f6abc;
  text-decoration: underline;
}
a:hover, a:active {
  color: #073762;
}

/* Header */

header.small {
  background: #4489ca;
  display: block;
  color: #fff;
  height: 80px;
}
header.small .inner {
  overflow: hidden;
  padding: 0;
  margin: 0 auto 20px;
  position: relative;
  height: 80px;
}
header.small h1 {
  margin: 0;
  padding: 18px 0 0;
  float: left;
}
header.small h1 a, header.small h1 a:link, header.small h1 a:visited {
  display: block;
  height: 45px;
  width: 240px;
  padding: 0;
  text-indent: -9999px;
  background: url('/images/small-logo.png') no-repeat center left;
}
header.small h2 {
  float: right;
  text-align: right;
  font-size: 15px;
  line-height: 22px;
  margin: 15px 0 0;
}

header h2 a, header h2 a:link, header h2 a:visited {
  color: #fff;
}
header h2 a:hover, header h2 a:active {
  color: #bcdbff;
}

/* Intro */

#intro {
  height: 520px;
  padding: 0;
  background: #4489ca;
  color: #fff;
  font-size: 28px;
  line-height: 49px;
  font-weight: 400;
  margin-bottom: 15px;
}

#intro .inner {
  width: 1020px;
  margin: 0 auto 20px;
  padding: 50px 0;
  overflow: hidden;
}

#intro header {
  display: block;
  color: #fff;
  text-align: left;
}

#intro header h1 {
  margin: 0;
  padding: 0;
}

#intro header h1 {
  display: block;
  height: 290px;
  width: 200px;
  text-indent: -9999px;
  background: url('/images/intro-logo.png') no-repeat top left;
}

#intro header h1 span {
  color: #bcdbff;
}

#intro header h2 {
  padding: 10px 0;
  font-size: 24px;
}

#intro header h2 a {
  display: block;
  margin-top: 10px;
}

#intro p:first-of-type {
  padding-top: 0;
}

#intro .button, #intro a.button,
    #intro a.button:link, #intro a.button:visited {
  background: #fff;
  color: #000;
  padding: 5px 24px;
  text-shadow: #fafafa 0px 1px 1px;
  box-shadow: #3875af 0px 2px 2px;
  border-top: 2px solid #fff;
}

#intro a.button:hover {
  background: #bcdbff;
  text-shadow: #a0bde0 0px 1px 1px;
  border-color: #bcdbff;
}

#intro a.button:active {
  border-top: 2px solid #4489ca;
  border-bottom: 2px solid #bcdbff;
  padding-top: 7px;
  padding-bottom: 3px;
  box-shadow: none;
}

#intro-description {
  padding-top: 30px;
}

/* Small Nav */

nav {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
}
nav ul {
  text-align: right;
}
nav ul li {
  display: inline-block;
  padding: 0 6px 6px;
}
nav ul li a, nav ul li a:link, nav ul li a:visited {
  color: #fff
}

/* Intro nav */

#intro nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
}

#intro nav li {
  padding: 6px 8px;
}

#intro nav li a, #intro nav li a:link, #intro nav li a:visited {
  color: #bcdbff;
}
#intro nav li a, #intro nav li a:link, #intro nav li a:visited {
  color: #bcdbff;
}

/* Footer */

footer {
  background: #4489ca;
  color: #fff;
  margin-top: 40px;
}

footer .team {
  padding: 25px 0;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
}
footer a, footer a:link, footer a:visited {
  color: #bcdbff;
}

footer ul.links {
  padding: 25px 0;
  margin: 0;
}
footer ul.links li {
  list-style: none;
  padding: 0;
  font-size: 16px;
}
footer ul.links li a, footer ul.links li a:visited {
  display: block;
  padding: 4px 0 4px 32px;
  background: transparent no-repeat left 3px;
  color: #fff;
  text-decoration: none;
}
footer ul.links li a:hover {
  text-decoration: underline;
}

footer ul.links li a.twitter {
  background-image: url('/images/links-twitter.png');
}
footer ul.links li a.facebook {
  background-image: url('/images/links-facebook.png');
}
footer ul.links li a.github {
  background-image: url('/images/links-github.png');
}
