<!doctype html>
<html>
<head>

  <style type="text/css">
  @import url('/stylesheets/core.css');
  </style>

  <meta charset="utf-8">

  <title>Europe Code Week 2014 - {{ page.title }}</title>

</head>

<body>

  {{ content }}

  <footer>
    <div class="inner">
      <p>
        Europe Code Week is a project by the <a href="http://ec.europa.eu/digital-agenda/en/young-advisors">Young Advisors Group</a> at the <a href="http://ec.europa.eu/index_en.htm">European Commission</a>.
        <br>
        Help us with this website on <a href="https://github.com/codeeu/codeeu.github.io">GitHub</a>.
      </p>
    </div>
  </footer>

</body>
</html>
