<!doctype html>
<html>
<head>

  <style type="text/css">
  @import url('/stylesheets/core.css');
  </style>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="October 10 - 18, 2015: a week to celebrate coding in Europe, encouraging citizens to learn more about technology, and connecting communities and organizations who can help you learn coding." />
  <meta property="og:image" content="/img/codeweekEU-logo-600.png" />
  <title>Europe Code Week 2015 - {{ page.title }}</title>

</head>

<body>

  {{ content }}

  <footer>
    <div class="inner row">
      <ul class="links fa-ul col-md-4">
        <li>
          <span class="fa-stack fa-sm">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
          <a href="https://twitter.com/codeweekeu" title="@CodeWeekEU on Twitter" class="twitter">CodeWeekEU</a></li>
        <li>
          <span class="fa-stack fa-sm">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
          <a href="https://www.facebook.com/codeEU" title="Europe Code Week on Facebook" class="facebook">codeEU</a></li>
        <li>
          <span class="fa-stack fa-sm">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
          </span>
          <a href="https://plus.google.com/+CodeweekEu/" title="Europe Code Week on Google+" class="google">CodeWeekEU</a></li>
        <li>
          <span class="fa-stack fa-sm">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
          <a href="https://github.com/codeeu" title="CodeEU on GitHub" class="github">codeeu</a></li>
      </ul>
      <div class="team col-md-8">
        A project by the <a href="http://ec.europa.eu/digital-agenda/en/young-advisors">Young Advisors Group</a> at the <a href="http://ec.europa.eu/index_en.htm">European Commission</a><br>
        Help us with this website on <a href="https://github.com/codeeu/codeeu.github.io">GitHub</a>
      </div>
    </div>
  </footer>

</body>
</html>
