---
layout: default
---

<header class="small">
  <div class="inner">
    <h1><a href="/">Europe<br> Code<br> Week<br> <span>2014</span></a></h1>
    <h2>25th &mdash; 30th November <a href="https://twitter.com/search?q=%23codeEU&amp;f=realtime">#codeEU</a></h2>

    <nav>
      <ul>
        <li><a href="#">Why coding?</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </div>
</header>

{{ content }}
