---
layout: default
---

<section id="intro">
  <div class="inner">
    <header>
      <h1>Europe<br> Code<br> Week<br> <span>2013</span></h1>
      <h2>25th &mdash; 30th November<br> <a href="https://twitter.com/search?q=%23codeEU&amp;f=realtime">#codeEU</a></h2>
    </header>

    <div id="intro-description">
      <p>All around Europe, people are making apps, websites and lots of other things by learning to code.</p>
      <p>Join them at one of many events and clubs taking part in Europe's first Code Week.</p>

      <div class="button-well">
        <a href="/events" class="button button-find">Find an event near you</a>
      </div>
    </div>
  </div>
</section>

{{ content }}
