---
layout: default
---

<section id="intro">
  <div class="inner">
    <header>
      <h1>Europe<br> Code<br> Week<br> <span>2014</span></h1>
      <h2>25th &mdash; 30th November <a href="https://twitter.com/search?q=%23codeEU&amp;f=realtime">#codeEU</a></h2>
    </header>

    <nav>
      <ul>
        <li><a href="#">Why coding?</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>

    <div id="intro-description">
      <p>All around Europe, people are making apps, websites and lots of other things by learning to code.</p>
      <p>Join them at one of many events and clubs taking part in Europe's first Code Week.</p>

      <div class="button-well">
        <a href="/events" class="button button-find">Find an event near you</a>
      </div>
    </div>

    <ul>

    </ul>
  </div>
</section>

{{ content }}
