---
layout: default
---

<section id="intro">
  <div class="row inner">
    <header class="col-md-4">
      <h1>CodeWeek.EU</h1>
      <h2>10th &mdash; 18th October <a href="https://twitter.com/search?q=%23codeEU&amp;f=realtime">#codeEU</a></h2>
    </header>

    {% include nav.ext %}

    <div id="intro-description" class="col-md-8 col-xs-12">
      <p>During Code Week 2014 all around Europe, 1000s of people, young and adult created apps, websites, games and many other fabulous things by learning to code.</p>
      <p>Now, Europe Code Week 2015 returns with many more exciting events and activities. Join us and spread the word amongst your community!</p>

      <div class="button-well">
        <a href="http://events.codeweek.eu" class="button button-find">Find an event near you</a>
      </div>
    </div>

    <ul>

    </ul>
  </div>
</section>

{{ content }}
