---
layout: default
---


		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>{{ page.title }}</h1>
				<span>CodeWeekEU2015</span>
				<ol class="breadcrumb">
					<li><a href="http://codeeu.programamos.es">Home</a></li>
					<li class="active">{{ page.title }}</li>
				</ol>
			</div>

		</section><!-- #page-title end -->
<!-- Content
		============================================= -->
<section id="content">

			<div class="content-wrap">
                <div class="container clearfix">
                    {{ content }}
                </div>
            </div>
</section>
